.item-menu {
    width: 100%;
    clear: both;
    margin-top: 5px;
    min-height: 55px;
    margin-bottom: 5px;
    border-bottom: 1px solid gray;
}

.image-item {
    width: 15%;
    margin: 0;
    float: left;
    height: 50px;
}

.name-item {
    padding-left: 15px;
    width: 85%;
    margin: 0;
    height: 50px;
    float: left;
}

.chart {
    margin: 10px;
    background-color: white;
}

.background-default {
    background-color: aliceblue;
}

.select-transparent {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    color: #ABB6C0;
    border: 0;
    border-bottom: 1px solid #ABB6C0;
    margin-bottom: 10px;
}

.btn-save {
    padding: 10px;
    width: 150px;
    background-color: darkgrey;
    color: #FFF;
    border: 0;
}